

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	/* background-image: url('../img/b_body2.jpg'); */
	background-color: #000000;
	color: #fcfcfc;
	text-shadow: 1px 1px 1px rgba(60,60,28,0.5);
}
h1,h2,h3,h4 {
	text-shadow: 1px 1px 1px rgba(60,60,28,0.5);
}
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.1));
	background-image:    -moz-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.1));
	background-image:     -ms-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.1));
	background-image:      -o-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.1));
}

/* 背景のカーテン画像 */
img.bg, div.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	/* またはabsolute; */
	top: 40px;
	left: 0;
}
@media screen and (max-width: 1024px){
	img.bg, div.bg {
	left: 50%;
	margin-left: -512px; }
}
div.container {
	position: relative;
}
.lights {
	margin-top: -20px;
}
.nav-caption {
	font-size: 80%;
	color: #888;
}
.radius {
	border-radius: 3px 3px 3px 3px;
}
.box {
	margin-bottom: 20px;
	padding: 5px 0px;
}
.thumbnail-r {
	margin: 0 10px 0 5px;
}
img.thumbnail-r {
	width: 200px;
}
.dark {
	color: #222222;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
}

.topics {
	background-color: #EEEEEE;
	border-radius: 3px 3px 3px 3px;
	padding: 15px 10px;
	color: #222;
}
.topics dt {
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px dashed #ccc;
}
.topics dt:first-child {
	margin-top: 0;
	border: none;
}

.tape {
	background-color: rgba(224,224,224, 0.95);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tape_dark {
	background-color: rgba(224,224,224, 0.45);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dl-horizontal li {
	margin-bottom: 10px;
}

footer {
	color: #222;
	padding: 15px 20px;
	border-radius: 4px 4px 4px 4px;
}
footer p {
	font-size: 90%;
	color: #555;
}

.profile {
	padding: 10px;
	position: relative;
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px 4px 4px 4px;
}
.profile img {
	width: 160px;
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}
.profile p {
	font-size: 90%;
	margin-top: 15px;
}
.profile .history {
	padding: 10px;
	color: #666;
}


